* {
    box-sizing: border-box;
}

#root {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loading {
    font-family: monospace;
    max-width: 10rem;
    word-wrap:break-word;
}

#number-of-emails {
    width: 3rem;
}